$darkHeaderColor: #ffffff8c;
$HeaderColor: #334257;
$inputBackground: #393e46;

.topSection {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 24px;
}

.headerDarkMode,
.header {
  order: 1;
}

.header {
  color: $HeaderColor;
}

.headerDarkMode {
  color: $darkHeaderColor;
}

.buttonContainer {
  z-index: 10;
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;

  .inputDarkMode {
    background: $inputBackground;
    color: rgba(255, 255, 255, 0.549);
  }

  input {
    max-width: 300px;
    height: 40px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-right: 10px;
    background: #f7f5f2;
    box-shadow: 0 4px 6px rgba(112, 111, 111, 0.048),
      0 6px 18px 2px rgba(85, 83, 83, 0.118);

    &::placeholder {
      font-size: 1.1rem;
    }

    @media screen and (min-width: 500px) {
      width: 340px;
    }
  }

  button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #f7f5f2;
    box-shadow: 0 4px 6px rgba(137, 131, 131, 0.1),
      0 5px 18px 2px rgba(112, 109, 109, 0.199);

    .plusIcon {
      opacity: 0.7;
    }

    @media screen and (min-width: 660px) {
      cursor: pointer;
    }
  }
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  margin-top: 120px;
}

.todosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  @media screen and (min-width: 780px) {
    width: 500px;
  }
}

.seachInput,
.seachInputDarkMode {
  border: none;
  width: 80%;
  height: 30px;
  padding: 20px 15px;
  border-radius: 7px;
  outline: none;
  margin-bottom: 20px;
}

.seachInput {
  background: #f7f5f2;
}

.seachInputDarkMode {
  background: #393e46;
  color: rgba(255, 255, 255, 0.549);

  &::placeholder {
    color: rgba(255, 255, 255, 0.549);
  }
}

.notify {
  @media screen and (max-width: 460px) {
    width: 80%;
    transform: translate(14%, 10%);
  }
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  @media screen and (min-width: 660px) {
    cursor: pointer;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
